
<div class="top-blocks">
    <div class="post">
        <h2>Post title</h2>

            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum in itaque rerum tenetur doloremque placeat excepturi esse repellendus totam! Adipisci!</p>
    </div>

    <div class="post1">
        <h2>Post title intell</h2>

            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum in itaque rerum tenetur doloremque placeat excepturi esse repellendus totam! Adipisci!</p>
    </div>
</div>

<div class="bottom-blocks">
    <div class="post2">
        <h2>Post title magic</h2>

            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum in itaque rerum tenetur doloremque placeat excepturi esse repellendus totam! Adipisci!</p>
    </div>

    <div class="post3">
        <h2>Post title silicon</h2>

            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum in itaque rerum tenetur doloremque placeat excepturi esse repellendus totam! Adipisci!</p>
    </div>
</div>